<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notification (<b>{{counter}}</b>)</a>
    <ul class="dropdown-menu notify-drop">
      <div class="notify-drop-title">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6">Your Notifications (<b>{{counter}}</b>)</div>
          <div class="col-md-6 col-sm-6 col-xs-6 text-right"><a href="" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom" title="tümü okundu."><i class="fa fa-dot-circle-o"></i></a></div>
        </div>
      </div>
      <!-- end notify title -->
      <!-- notify content -->
      <div class="drop-content">
        <li  *ngFor="let notification of notifications">
          <div class="col-md-3 col-sm-3 col-xs-3"><div class="notify-img"><img src="http://placehold.it/45x45" alt=""></div></div>
          <div class="col-md-9 col-sm-9 col-xs-9 pd-l0"><a href="">Link</a> link. <a href="">Link</a> <a href="" class="rIcon"><i class="fa fa-dot-circle-o"></i></a>
          <p>{{notification.content}}</p>
          <p class="time">{{notification.created_at}}</p>
          </div>
        </li>
      </div>
      <div class="notify-drop-footer text-center">
        <a href=""><i class="fa fa-eye"></i> View all</a>
      </div>
    </ul>
  </li>
</ul>
